<div class="container mt-5">
    <div class="form-group d-flex align-items-center py-2">
      <label for="groupName" class="col-form-label color-9 pr-3 mb-0">Nombre del grupo:</label>
      <input type="text" class="form-control custom-input bg-color-1 b-color-9 col-sm-8 w-25 mx-3" id="groupName" formControlName="groupName">
    </div>

    <div class="form-group d-flex mt-3">
      <label for="game" class="pr-3">Juego:</label>
      <select class="form-control custom-input bg-color-1 b-color-9 col-sm-8 w-25 mx-3" id="game">
        <option>Games menu</option>
      </select>
    </div>
    <button type="button" class="btn mt-3 bg-color-7 color-1 b-color-9">Atras</button>
  </div>
  