<div class="container">
    <div class="row">
        <h1 class="text-center color-8">¡Bienvenido a Partyholic!</h1>
    </div>
    <div class="row">
        <p class="text-center color-8">Bienvenido a Partyholic, un espacio para nuestros empleados... <b>y apasionados a los videojuegos</b>!</p>
        <p class="text-center color-8"><b>Crea</b> y <b>únete</b> a chats de grupo para hablar sobre un juego en concreto, <b>reta</b> a otros grupos y recibe increíbles <b>recompensas</b> para compartir entre los integrantes.</p>
        <p class="text-center color-8">Explora comunidades, habla con los amigos de siempre y descubre nuevas caras. <b>Sé tu mismo y respeta a tus compañeros.</b></p>      
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <img src="https://miro.medium.com/v2/resize:fit:804/1*ixB4YI9uQXBMymH2aUvZ4Q.jpeg">
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-6 d-flex justify-content-center">
            <a class="btn bg-color-8 color-1 button" routerLink="/login">Login</a>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <a class="btn bg-color-8 color-1 button" routerLink="/register">Register</a>
        </div>
    </div>
</div>
