<div class="container mt-5">
    <h1 class="text-center color-9">Login</h1>
    <form>
      <div class="form-group">
        <label for="emailUsername" class="color-9 py-3">Email/Username:</label>
        <input type="text" class="form-control custom-input bg-color-1 b-color-9" id="emailUsername" placeholder="Enter email/username">
        <small class="form-text text-muted">We'll never share your email/username with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="password" class="color-9 py-3">Password:</label>
        <input type="password" class="form-control custom-input bg-color-1 b-color-9" id="password" placeholder="Enter password">
      </div>
      <div class="form-check mb-3 py-2">
        <input type="checkbox" class="form-check-input custom-input  bg-color-1 b-color-9" id="checkMeOut">
        <label class="form-check-label" for="checkMeOut">Check me out</label>
        <a routerLink="/register" class="px-3 color-9">¿No tienes una cuenta? ¡Regístrate!</a>
      </div>
      <button type="submit" class="btn bg-color-7 color-1 b-color-9">Login</button>
    </form>
  </div>