<div class="container-fluid">
    <div class="row">
        <div class="col-3 mb-5">
            <label for="nombre" class="form-label color-9">Nombre del grupo</label>
            <input type="text" class="form-control mb-3" id="" value="ejemploDeNombreGrupo">
            <label for="nombre" class="form-label color-9">Numero de participantes</label>
            <select class="form-select bg-color-8 color-1 mb-3" name="participantes" id="">
                <option class="txt" value="">1</option>
                <option class="txt" value="">2</option>
                <option class="txt" value="">...</option>
            </select>
            <label for="nombre" class="form-label color-9">Privacidad:</label>
            <select class="form-select bg-color-8 color-1 mb-3" name="privacidad" id="">
                <option class="color-1" value="">Publico</option>
                <option class="color-1" value="">Privado</option>
            </select>
            <label for="nombre" class="form-label color-9">Maximo Administradores:</label>
            <select class="form-select bg-color-8 color-1" name="maxadm" id="">
                <option class="color-1" value="">1</option>
                <option class="color-1" value="">2</option>
                <option class="color-1" value="">3</option>
            </select>
            <label for="nombre" class="form-label color-9">Default 1</label>            
    </div>
    <div class="row">
        <div class="col-3">
            <div class="col-6 mt-5">
                <button class="btn btn-primary bg-color-7">Aplicar</button>
            </div> 
        </div>
        </div>
    </div>
</div>