body{
    margin: 0;
}

nav a:hover{
    color: white;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 20px;
}

.card {
    flex: 0 0 18rem;
}
