/* Estilos del formulario */

select{
    border-radius: 5px;
}

tbody, thead{
    border-color: #1B4332;
}

table{
    border-radius: 10px !important;
}

thead{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px !important;
}

tbody{
    background-color: rgba(0, 0, 0, 0.3);
}

td {
    vertical-align: middle;
}





