<div class="container-fluid text-center">
    <div class="row">
        <div class="col-md-1 d-flex justify-content-left mb-5 mx-3 m-2">
            <a (click)="volver()" class="align-right btn bg-color-1 color-7 m-2"><b><span class="material-symbols-outlined key">
                keyboard_return
                </span></b></a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 col-sm-12 mx-auto">
            <div class="table-responsive" style="border-radius: 15px;">
                <table class="table table-striped-columns">
                    <thead>
                        <tr>
                            <th scope="col" class="text-success">Username</th>
                            <th scope="col" class="text-success">Nombre</th>
                            <th scope="col" class="text-success">Rol</th>
                            <th scope="col" class="text-success">Acción</th>
                        </tr>
                    </thead>
                    <tbody class="color-9">
                        <tr *ngFor="let miembro of miembros">
                            <td><span class="color-1">{{miembro.usuario.username}}</span></td>
                            <td><span class="color-1">{{miembro.usuario.nombre}}</span></td>
                            <td>
                                <select (change)="cambiarRol($event, miembro.usuario.username)" [ngClass]="{'bg-danger': miembro.esAdmin === true,'bg-primary t-white': miembro.esAdmin === false}" (change)="cambiarRol($event, miembro.usuario.username)" *ngIf="miembroUser && miembroUser[0].esAdmin && miembro.usuario.username !== miembroUser[0].username" name="role" class="form-control text-center" id="userRole">
                                    <option class="bg-white text-black" [selected]="miembro.esAdmin === true" value="true">Líder</option>
                                    <option class="bg-white text-black" [selected]="miembro.esAdmin === false" value="false">Miembro</option>
                                </select>
                                <span class="color-1" *ngIf="miembroUser[0].esAdmin == false || user.infoUser.username == miembro.usuario.username">
                                    <span *ngIf="miembro.esAdmin" class="text-danger">Admin</span>
                                    <span *ngIf="miembro.esAdmin == false" class="text-primary">Miembro</span>
                                </span>
                            </td>
                            <td>
                                <button (click)="salir(miembro.usuario.username)" *ngIf="miembroUser && miembroUser[0].esAdmin && miembro.usuario.username !== miembroUser[0].username || miembroUser[0].esAdmin == false && miembro.usuario.username == miembroUser[0].username" class="btn btn-danger"><i class="fas fa-arrow-right-from-bracket"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
