body{
  background-color: aqua !important;
}

img{
  width: 200px;
}
textarea {
    resize: none;
  }

  .cancel{
    background-color: red;
  }

  .minicancel{
    background-color: red;
    height: 36px;

  }

  .material-icons {
    display: flex;
    align-items: center;
  }

  .edit{
    font-size: 20px;
  }