<div class="container text-center">
    <div class="row">
        <div class="col-4 mt-5" >
            <img src="" alt="">aqui va una imagen
        </div>
        <div class="col-4 mt-5" >
            <input class="form-control custom-input bg-color-1 b-color-9" type="file" name="src-file1" aria-label="Archivo">
        </div>
        <div class="col-4 mt-4">
            Usuario: <input class="form-control custom-input bg-color-1 b-color-9" type="text" name="" id="">
        </div>
    </div>
    <div class="row">
        <div class="col-4 mt-5">
        Juego favorito:
        <select class="form-select bg-color-8 txt" name="juego" id="">
            <option value="">Juegos</option>
        </select>  <br>
        Perfil:
        <select class="form-select bg-color-8 txt" name="perfil" id="">
            <option class="txt" value="">Publico</option>
            <option class="txt" value="">Privado</option>
        </select>  
        </div>
        <div class="col-4 mt-5">
            Descripción<br>
            <textarea class="form-control" name="" id="" cols="40" rows="10"></textarea>
        </div>
        <div class="col-4 mt-5">
            Conexiones:<br>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <button class="btn btn-primary bg-color-8">Guardar</button>
        </div>
        <div class="col-6">
            <button class="btn btn-primary bg-color-8">Cancelar</button>
        </div>        
    </div>
</div>
