<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-end">
            <a routerLink="/chat" class="align-right btn bg-color-1 color-7 m-2"><b>Volver</b></a>
        </div>
    </div>
    <div class="row scroll">
        <div class="col-md-6 col-sm-12 p-3">
            <div class="align-items-center">
                <img src="https://miro.medium.com/v2/resize:fit:804/1*ixB4YI9uQXBMymH2aUvZ4Q.jpeg" width="100px" alt="...">
                <span class="color-1 mx-2">Miembro</span>
                <span class="color-1 mx-2">@miembro</span>
                <select name="role" class="mx-2" id="userRole">
                    <option value="leader">Líder</option>
                    <option value="user">Miembro</option>
                </select>
                <button class="btn btn-danger mx-2">Expulsar</button>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 p-3">
            <div class="align-items-center">
                <img src="https://miro.medium.com/v2/resize:fit:804/1*ixB4YI9uQXBMymH2aUvZ4Q.jpeg" width="100px" alt="...">
                <span class="color-1 mx-2">Miembro</span>
                <span class="color-1 mx-2">@miembro</span>
                <select name="role" class="mx-2" id="userRole">
                    <option value="leader">Líder</option>
                    <option value="user">Miembro</option>
                </select>
                <button class="btn btn-danger mx-2">Expulsar</button>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 p-3">
            <div class="align-items-center">
                <img src="https://miro.medium.com/v2/resize:fit:804/1*ixB4YI9uQXBMymH2aUvZ4Q.jpeg" width="100px" alt="...">
                <span class="color-1 mx-2">Miembro</span>
                <span class="color-1 mx-2">@miembro</span>
                <select name="role" class="mx-2" id="userRole">
                    <option value="leader">Líder</option>
                    <option value="user">Miembro</option>
                </select>
                <button class="btn btn-danger mx-2">Expulsar</button>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 p-3">
            <div class="align-items-center">
                <img src="https://miro.medium.com/v2/resize:fit:804/1*ixB4YI9uQXBMymH2aUvZ4Q.jpeg" width="100px" alt="...">
                <span class="color-1 mx-2">Miembro</span>
                <span class="color-1 mx-2">@miembro</span>
                <select name="role" class="mx-2" id="userRole">
                    <option value="leader">Líder</option>
                    <option value="user">Miembro</option>
                </select>
                <button class="btn btn-danger mx-2">Expulsar</button>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 p-3">
            <div class="align-items-center">
                <img src="https://miro.medium.com/v2/resize:fit:804/1*ixB4YI9uQXBMymH2aUvZ4Q.jpeg" width="100px" alt="...">
                <span class="color-1 mx-2">Miembro</span>
                <span class="color-1 mx-2">@miembro</span>
                <select name="role" class="mx-2" id="userRole">
                    <option value="leader">Líder</option>
                    <option value="user">Miembro</option>
                </select>
                <button class="btn btn-danger mx-2">Expulsar</button>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 p-3">
            <div class="align-items-center">
                <img src="https://miro.medium.com/v2/resize:fit:804/1*ixB4YI9uQXBMymH2aUvZ4Q.jpeg" width="100px" alt="...">
                <span class="color-1 mx-2">Miembro</span>
                <span class="color-1 mx-2">@miembro</span>
                <select name="role" class="mx-2" id="userRole">
                    <option value="leader">Líder</option>
                    <option value="user">Miembro</option>
                </select>
                <button class="btn btn-danger mx-2">Expulsar</button>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 p-3">
            <div class="align-items-center">
                <img src="https://miro.medium.com/v2/resize:fit:804/1*ixB4YI9uQXBMymH2aUvZ4Q.jpeg" width="100px" alt="...">
                <span class="color-1 mx-2">Miembro</span>
                <span class="color-1 mx-2">@miembro</span>
                <select name="role" class="mx-2" id="userRole">
                    <option value="leader">Líder</option>
                    <option value="user">Miembro</option>
                </select>
                <button class="btn btn-danger mx-2">Expulsar</button>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 p-3">
            <div class="align-items-center">
                <img src="https://miro.medium.com/v2/resize:fit:804/1*ixB4YI9uQXBMymH2aUvZ4Q.jpeg" width="100px" alt="...">
                <span class="color-1 mx-2">Miembro</span>
                <span class="color-1 mx-2">@miembro</span>
                <select name="role" class="mx-2" id="userRole">
                    <option value="leader">Líder</option>
                    <option value="user">Miembro</option>
                </select>
                <button class="btn btn-danger mx-2">Expulsar</button>
            </div>
        </div>
    </div>
</div>
