<div class="container margin-menu" [ngClass]="{'enlarged': isEnlarged}">
    <!-- Logo de la aplicacion -->
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <img src="./assets/img/logo2.png">
        </div>
    </div>
    <!-- Mensaje de bienvenida-->
    <div class="content" [ngClass]="{'hidden': isEnlarged}">
        <div class="row mt-2">
            <h1 class="text-center color-1">¡Bienvenido a Partyholic!</h1>
        </div>
        <div class="row mt-2">
            <p class="text-center color-1">Bienvenido a Partyholic, un espacio para nuestros empleados... <b>y apasionados a los videojuegos</b>!</p>
            <p class="text-center color-1"><b>Crea</b> y <b>únete</b> a chats de grupo para hablar sobre un juego en concreto, <b>reta</b> a otros grupos y recibe increíbles <b>recompensas</b> para compartir entre los integrantes.</p>
            <p class="text-center color-1">Explora comunidades, habla con los amigos de siempre y descubre nuevas caras. <b>Sé tu mismo y respeta a tus compañeros.</b></p>      
        </div>
        <!-- Enlaces a la seccion de login y register -->
        <div class="row pt-5 d-flex justify-content-center text-center">
            <div class="col-md-6">
                <a (click)="enlargeAndNavigate('/login')" class="btn btn-success button mb-2">Login</a>
            </div>
            <div class="col-md-6">
                <a (click)="enlargeAndNavigate('/register')" class="btn btn-primary button mb-2">Register</a>
            </div>
        </div>
    </div>
</div>
