<div class="container-fluid">
    <div class="row mt-2 mx-1">
        <!-- Volver -->
        <div class="col-md-1">
            <a (click)="volver()" class="align-right btn bg-color-1 color-7 m-2"><b><span class="material-symbols-outlined key">
                keyboard_return
                </span></b></a>
        </div>
    </div>
    <!-- Seccion de logros, donde todos los grupos tienen los mismos logros. Se muestra el objetivo, el progreso actual y la recompensa -->
    <div class="row px-2 d-flex justify-content-center">
        <div class="col-md-6 col-sm-12 ">
            <img class="hover-image" src="./assets/img/pet4.png" width="100px">
            <ul class="list-group p-4 mx-auto">
                <li class="list-group-item bg-color-1" aria-current="true">Enviar 50 mensajes para recibir <b>Eventos de grupo</b><span class="d-flex justify-content-end align-middle">0/50</span></li>
                <li class="list-group-item bg-color-2">Enviar 100 mensajes para recibir el sticker <b>Olic hablando</b><span class="d-flex justify-content-end align-middle">0/100</span></li>
                <li class="list-group-item bg-color-3">Enviar 150 mensajes para recibir el sticker <b>Parlanchines</b><span class="d-flex justify-content-end align-middle">0/200</span></li>
                <li class="list-group-item bg-color-1">Crea 5 eventos para recibir el <b>Retar grupos</b><span class="d-flex justify-content-end align-middle">0/5</span></li>
                <li class="list-group-item bg-color-2">Crea 10 eventos para recibir el sticker <b>Reunión</b><span class="d-flex justify-content-end align-middle">0/10</span></li>
                <li class="list-group-item bg-color-3">Crea 15 eventos para recibir el sticker <b>Planificadores</b><span class="d-flex justify-content-end align-middle">0/20</span></li>
                <li class="list-group-item bg-color-1">Reta a 5 grupos para recibir el sticker <b>Olic de bronce</b><span class="d-flex justify-content-end align-middle">0/5</span></li>
                <li class="list-group-item bg-color-2">Reta a 10 grupos para recibir el sticker <b>Olic de plata</b><span class="d-flex justify-content-end align-middle">0/10</span></li>
                <li class="list-group-item bg-color-3">Reta a 15 grupos para recibir el sticker <b>Olic de oro</b><span class="d-flex justify-content-end align-middle">0/20</span></li>
            </ul>
        </div>
    </div>
</div>