<div class="container-fluid">
    <div class="row mt-2 mx-1">
        <!-- Volver -->
        <div class="col-md-1">
            <a (click)="volver()" class="align-right btn bg-color-1 color-7 m-2"><b><span class="material-symbols-outlined key">
                keyboard_return
                </span></b></a>
        </div>
    </div>
    <!-- Seccion de logros, donde todos los grupos tienen los mismos logros. Se muestra el objetivo, el progreso actual y la recompensa -->
    <div class="row px-2 d-flex justify-content-center">
        <div class="col-md-6 col-sm-12 ">
            <ul class="list-group p-4 mx-auto">
                <li [ngClass]="{'bg-warning': progresoGrupo[0].actual == 50}" class="list-group-item bg-color-1">Enviar 50 mensajes<span class="d-flex justify-content-end align-middle">{{ progresoGrupo[0].actual}}/50</span></li>
                <li [ngClass]="{'bg-warning': progresoGrupo[1].actual == 100}" class="list-group-item bg-color-2">Enviar 100 mensajes<span class="d-flex justify-content-end align-middle">{{ progresoGrupo[1].actual}}/100</span></li>
                <li [ngClass]="{'bg-warning': progresoGrupo[2].actual == 150}" class="list-group-item bg-color-3">Enviar 150 mensajes<span class="d-flex justify-content-end align-middle">{{ progresoGrupo[2].actual}}/150</span></li>
                <li [ngClass]="{'bg-warning': progresoGrupo[3].actual == 5}" class="list-group-item bg-color-1">Crea 5 eventos<span class="d-flex justify-content-end align-middle">{{ progresoGrupo[3].actual}}/5</span></li>
                <li [ngClass]="{'bg-warning': progresoGrupo[4].actual == 10}" class="list-group-item bg-color-2">Crea 10 eventos<span class="d-flex justify-content-end align-middle">{{ progresoGrupo[4].actual}}/10</span></li>
                <li [ngClass]="{'bg-warning': progresoGrupo[5].actual == 15}" class="list-group-item bg-color-3">Crea 15 eventos<span class="d-flex justify-content-end align-middle">{{ progresoGrupo[5].actual}}/15</span></li>
                <li [ngClass]="{'bg-warning': progresoGrupo[6].actual == 5}" class="list-group-item bg-color-1">Reta a 5 grupos<span class="d-flex justify-content-end align-middle">{{ progresoGrupo[6].actual}}/5</span></li>
                <li [ngClass]="{'bg-warning': progresoGrupo[7].actual == 10}" class="list-group-item bg-color-2">Reta a 10 grupos<span class="d-flex justify-content-end align-middle">{{ progresoGrupo[7].actual}}/10</span></li>
                <li [ngClass]="{'bg-warning': progresoGrupo[8].actual == 15}" class="list-group-item bg-color-3">Reta a 15 grupos<span class="d-flex justify-content-end align-middle">{{ progresoGrupo[8].actual}}/15</span></li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-12 d-flex flex-column menu">
            <div class="row">
                <div class="col-md-4">
                    <img [src]="progresoGrupo[0].actual < 50 ? './assets/img/logro_default.png' : './assets/img/logro1.png'" class="img-fluid" style="max-width: 98%;">
                </div>
                <div class="col-md-4">
                    <img [src]="progresoGrupo[1].actual < 100 ? './assets/img/logro_default.png' : './assets/img/logro2.png'" class="img-fluid" style="max-width: 98%;">
                </div>
                <div class="col-md-4">
                    <img [src]="progresoGrupo[2].actual < 150 ? './assets/img/logro_default.png' : './assets/img/logro3.png'" class="img-fluid" style="max-width: 98%;">
                </div>
            </div>    
            <div class="row">
                <div class="col-md-4">
                    <img [src]="progresoGrupo[3].actual < 5 ? './assets/img/logro_default.png' : './assets/img/logro4.png'" class="img-fluid" style="max-width: 98%;">
                </div>
                <div class="col-md-4">
                    <img [src]="progresoGrupo[4].actual < 10 ? './assets/img/logro_default.png' : './assets/img/logro5.png'" class="img-fluid" style="max-width: 98%;">
                </div>
                <div class="col-md-4">
                    <img [src]="progresoGrupo[5].actual < 15 ? './assets/img/logro_default.png' : './assets/img/logro6.png'" class="img-fluid" style="max-width: 98%;">
                </div>
            </div>    
            <div class="row">
                <div class="col-md-4">
                    <img [src]="progresoGrupo[6].actual < 5 ? './assets/img/logro_default.png' : './assets/img/logro7.png'" class="img-fluid" style="max-width: 98%;">
                </div>
                <div class="col-md-4">
                    <img [src]="progresoGrupo[7].actual < 10 ? './assets/img/logro_default.png' : './assets/img/logro8.png'" class="img-fluid" style="max-width: 98%;">
                </div>
                <div class="col-md-4">
                    <img [src]="progresoGrupo[8].actual < 15 ? './assets/img/logro_default.png' : './assets/img/logro9.png'" class="img-fluid" style="max-width: 98%;">
                </div>
            </div>    
        </div>
    </div>
</div>