<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-end">
            <a routerLink="/chat" class="align-right btn bg-color-1 color-7 m-2"><b>Volver</b></a>
        </div>
    </div>
    <div class="row">
        <ul class="list-group p-5">
            <li class="list-group-item bg-color-1" aria-current="true">Enviar 50 mensajes para recibir <b>Eventos de grupo</b><span class="d-flex justify-content-end align-middle">0/50</span></li>
            <li class="list-group-item bg-color-2">Enviar 100 mensajes para recibir <b>Imagen de grupo</b><span class="d-flex justify-content-end align-middle">0/100</span></li>
            <li class="list-group-item bg-color-3">Enviar 200 mensajes para recibir el titulo de grupo <b>Parlanchines</b><span class="d-flex justify-content-end align-middle">0/200</span></li>
            <li class="list-group-item bg-color-1">Reta a 5 grupos para recibir el sticker <b>Bandera roja</b><span class="d-flex justify-content-end align-middle">0/5</span></li>
            <li class="list-group-item bg-color-2">Reta a 10 grupos para recibir el sticker <b>Guerrero</b><span class="d-flex justify-content-end align-middle">0/10</span></li>
            <li class="list-group-item bg-color-3">Reta a 20 grupos para recibir el titulo <b>Retadores</b><span class="d-flex justify-content-end align-middle">0/20</span></li>
            <li class="list-group-item bg-color-1">Planifica 5 eventos para recibir el sticker <b>Calendario</b><span class="d-flex justify-content-end align-middle">0/5</span></li>
            <li class="list-group-item bg-color-2">Planifica 10 eventos para recibir el sticker <b>Reunión</b><span class="d-flex justify-content-end align-middle">0/10</span></li>
            <li class="list-group-item bg-color-3">Planifica 20 eventos para recibir el título <b>Planificadores</b><span class="d-flex justify-content-end align-middle">0/20</span></li>
        </ul>
    </div>
</div>