<div class="container-fluid"> 
    <div class="row">
        <div class="col-md-1 d-flex justify-content-end mt-2">
            <!-- Volver -->
            <a routerLink="/chat" class="align-right btn bg-color-1 color-7 m-2"><b><span class="material-symbols-outlined key">
                keyboard_return
                </span></b></a>
        </div>
    </div>
    <div class="row">
        <!-- Centramos el contenido utilizando columnas -->
        <div class="col-4"></div>
        <div class="col-md-4 col-sm-12 mt-5">
            <!-- Cada uno de los inputs que envía la aplicacion -->
            <h1 class="text-center color-1 mb-4">Ajustes de grupo</h1>
            <label for="nombre" class="form-label color-1">Nombre del grupo</label>
            <input type="text" class="form-control mb-3 bg-color-1" id="" value="ejemploDeNombreGrupo">
            <!-- Cantidad maxima de usuarios que pueden entrar al grupo -->
            <label for="nombre" class="form-label color-1">Numero de participantes</label>
            <select class="form-select bg-color-1 color-9 mb-3" name="participantes" id="">
                <option class="txt color-9" value="">1</option>
                <option class="txt color-9" value="">2</option>
                <option class="txt color-9" value="">...</option>
            </select>
            <!-- Grupo publico (visible por busqueda) o privado (solo accesible por codigo) -->
            <label for="nombre" class="form-label color-1">Privacidad</label>
            <select class="form-select bg-color-1 color-9 mb-3" name="privacidad" id="">
                <option class="color-1 color-9" value="">Publico</option>
                <option class="color-1 color-9" value="">Privado</option>
            </select>
            <!-- Número de administradores de la api -->
            <label for="nombre" class="form-label color-1">Maximo Administradores</label>
            <select class="form-select bg-color-1 color-9" name="maxadm" id="">
                <option class="color-9" value="">1</option>
                <option class="color-9" value="">2</option>
                <option class="color-9" value="">3</option>
            </select>
            <!-- Por defecto tendremos un administrador -->
            <label for="nombre" class="form-label color-5">Default 1</label>
            <div class="col-3">
                <div class="col-6 mt-5">
                    <button class="btn btn-success"><i class="fas fa-check"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>