<div class="container-fluid"> 
    <div class="row">
        <div class="col-md-1 d-flex justify-content-end mt-2">
            <!-- Volver -->
            <a (click)="volver()" class="align-right btn bg-color-1 color-7 m-2"><b><span class="material-symbols-outlined key">
                keyboard_return
                </span></b></a>
        </div>
    </div>
    <div class="row menu">
        <!-- Centramos el contenido utilizando columnas -->
        <div class="col-4"></div>
        <form class="col-md-4 col-sm-12 mt-3" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" >
            <!-- Cada uno de los inputs que envía la aplicacion -->
            <h1 class="text-center color-1 mb-4">Ajustes de grupo</h1>
            <label for="nombre" class="form-label color-1">Nombre del grupo</label>
            <input [(ngModel)]="form.nombre" required name="nombre" type="text" class="form-control mb-3 bg-color-1" id="">
            <!-- Grupo publico (visible por busqueda) o privado (solo accesible por codigo) -->
            <label for="nombre" class="form-label color-1">Privacidad</label>
            <select [(ngModel)]="form.privacidad" [ngModelOptions]="{standalone: true}" required name="privacidad" class="form-select bg-color-1 color-9 mb-3" id="">
                <option [value]="'public'" [selected]="form.privacidad === 'public'" class="color-1 color-9">Publico</option>
                <option [value]="'private'" [selected]="form.privacidad === 'private'" class="color-1 color-9">Privado</option>
            </select>
            <!-- Número de administradores de la api -->
            <label for="nombre" class="form-label color-1">Descripcion</label>
            <textarea [ngModelOptions]="{standalone: true}"  [(ngModel)]="form.descripcion" name="descripcion"  class="form-control mb-3 bg-color-1" name="" id="" cols="30" rows="10"></textarea>
            <button type="submit" class="btn col-md-2 btn-lg btn-success d-flex justify-content-center align-items-center">
                <span class="material-symbols-outlined">save_as</span>
            </button>
        </form>
    </div>
</div>