<div class="container text-center">
    <div class="row">
        <div class="col-6">
            <h3>Register:</h3>
            <form>
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword2" class="form-label">Repetir Password</label>
                    <input type="password" class="form-control" id="">
                </div>
                <button type="submit" class="btn btn-primary bg-color-7 ">Registrarse</button>
            </form>
        </div>
    </div>
</div>

<!-- 
.bg-color-1
.color-1
D8F3DC --1
B7E4C7 --2
95D5B2 --3 
74C69D --4 
52B788 --5
40916C --6
2D6A4F --7
1B4332 --8
081C15 --9 
-->