body{
    margin: 0;
}

/* Al desplazarse por la web, esta clase mantiene el div en la parte superior de la pantalla */

.sticky-row {
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Background personalizado */

.custom-bg{
    background-color: #2b674c !important;
    border-radius: 10px;
    color: #D8F3DC;
    text-align: right;
}

/* Personalizacion de la seccion del chat */

.chat {
    width: 96%;
    height: 79vh;
    overflow: auto;
    border: none;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 2vw;
}

/* Personalizacion del scrollbar del chat */

.chat::-webkit-scrollbar {
    width: 8px;
}

.chat::-webkit-scrollbar-thumb {
    background-color: #D8F3DC; /* Cambia el color de la barra de desplazamiento */
    border-radius: 5px;
}

.chat::-webkit-scrollbar-thumb:hover {
    background-color: #D8F3DC; /* Cambia el color al pasar el cursor por encima */
}

.st-movile{
    display: none;
}

@media (max-width: 768px) {
    .btn {
        width: 50px;
        display: flex;
        justify-content: center;
    }

    .btn-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .sword {
        margin-left: 0;
    }

    .setting {
        margin-right: 0;
    }

    a {
        margin: 2px !important;
    }

    .top-n {
        display: flex !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .st-pc{
        display: none!important;
    }

    .st-movile{
        display: flex;
        justify-content: center;

    }
}
