<div class="container-fluid">
    <div class="row mx-3 mt-1 top-n">
        <!-- Seccion de opciones del grupo, cada icono representa una opción -->
        <div class="col-md-10">
            <div class="btn-container">
                <a (click)='retarGrupo()' class="btn btn-danger m-2 sword text-center">
                    <b><span class="material-symbols-outlined sw">swords</span></b>
                </a>
                <a (click)='eventosGrupo()' class="btn m-2 btn-info events">
                    <b><span class="material-symbols-outlined ev">event</span></b>
                </a> 
                <a (click)='logrosGrupo()' class="btn m-2 btn-warning logros">
                    <b><span class="material-symbols-outlined trp">trophy</span></b>
                </a>
                <a (click)='miembrosGrupo()' class="btn btn-primary m-2 members">
                    <b><span class="material-symbols-outlined mem">groups</span></b>
                </a>
                <a (click)='ajustesGrupo()' class="btn m-2 btn-success setting">
                    <b><span class="material-symbols-outlined set">settings</span></b>
                </a>
                <a routerLink="/main" class="align-right btn bg-color-1 color-7 m-2 st-movile"><b><span class="material-symbols-outlined key">
                    keyboard_return
                </span></b></a>
            </div>
        </div>
        <div class="col-md-2 d-flex justify-content-end st-pc">
            <a routerLink="/main" class="align-right btn bg-color-1 color-7 m-2"><b><span class="material-symbols-outlined key">
                keyboard_return
                </span></b></a>
        </div>
    </div>
    <div class="row m-3 mx-4 mx-auto chat menu" #mensajes>
        <div *ngFor="let mensaje of listaMensajes" class="col-12 mb-3">
            <div class="row my-4 p-3">
                <!-- Contenedor de la imagen -->
                <div class="col-md-1" *ngIf="!(comprobarMensaje(mensaje.contenido)) ">
                    <img class="img img-fluid" [src]="mensaje.fotoPerfil" alt="" style="height: 50px;">
                </div>
                <!-- Contenedor del contenido del mensaje -->
                <div class="col-sm-12" [ngClass]="{'col-md-12': comprobarMensaje(mensaje.contenido),'col-md-11': !(comprobarMensaje(mensaje.contenido))}">
                    <ng-container *ngIf="this.username == mensaje.username && !(comprobarMensaje(mensaje.contenido))">
                        <div class="d-flex flex-column mx-auto">
                            <span class="text-primary">{{ mensaje.username }}:</span>
                            <span class="color-1">{{mensaje.contenido}}</span>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="this.username != mensaje.username && !(comprobarMensaje(mensaje.contenido)) ">
                        <div class="d-flex flex-column">
                            <span class="text-danger">{{ mensaje.username }}:</span>
                            <span class="color-1">{{mensaje.contenido}}</span>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="this.username != mensaje.username && comprobarMensaje(mensaje.contenido) ">
                        <span class="text-white d-flex justify-content-center bg-danger">{{mensaje.contenido}}</span>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>    
    <!-- Input donde el usuario envia su mensaje -->
    <div class="row m-1 footer">
        <div class="col-12">
            <input maxlength="150" id="mensaje" placeholder="Enviar mensaje..." (keyup.enter)="enviarMensaje()" class="form-control text-right custom-bg b-color-6" type="textbox">
        </div>
    </div>
</div>
