.img{
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 50%;
}

input, select, textarea, .ml {
  margin-left: 10px;
}

.imgGame{
  height: 100px!important;
}

@media (max-width: 1080px) {
  .desc{
    width: 100px;
  }
}