.img {
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 50%;
}

.btn-lg{
  width: 50px;
  height: 50px;
}

.imgSelected{
  width: 300px;
}

.separation-img {
  margin-left: 10px;
}



.imgGame {
  height: 75px !important;
  width: 150px;
  background-size: 100%;
  background-repeat: no-repeat;
}

@media (max-width: 880px) {
  .desc {
    width: 100px;
  }

  .junto{
    flex-direction: column!important;
  }

  .screen{
    display: flex!important;
    text-align: center;
  }

  .w-sm{
    width: 100%!important;
  }
  .imgGame{
    width: 80px!important;
  }

  .w-25 {
    width: 40%!important;
  }

  .game-item{
    height: 50px;
  }

  .btn{
    width: 25px;
  }

  .btn-lg{
    width: 30px;
    height: 30px;
  }

  span{
    font-size: 20px;
  }

  .col-md-2, .col-md-6{
    width: 200px!important;
  }

  .galeria{
    padding: 3px!important;
  }

  .games{
    width: 100%!important;
    margin: 0px;
  }

  .pre-games{
    width: 100%!important;
  }

  .w-75{
    width: 100%!important;
  }

  .return-div{
    margin-left: 10px;
  }
}

@media (max-width: 1200px) {
  .w-sm{
    width: 75%!important;
  }
}

.cancel {
  background-color: red;
}

.game-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn.imgGame {
  /* Estilos para el botón del juego */
  transition: transform 0.3s ease; /* Transición suave del escalado */
}

.game-name {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 0;
  border-radius: 0 0 4px 4px;
  font-size: 12px;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Agrega la transición de escalado */
}

.game-item:hover .game-name {
  opacity: 1;
  transform: scale(1); /* Mantener el mismo escalado que la imagen */
}

.imgGame:hover + .game-name {
  display: block;
}

.participants {
  width: 15%;
}

.pre-games {
  width: 50%;
}