<div class=" d-flex align-items-center justify-content-center">
  <div class="w-75">
    <div class="form-group">
      <a routerLink="/main" class="align-right btn bg-color-1 color-7 mt-2">
        <b><span class="material-symbols-outlined key">keyboard_return</span></b>
      </a>
    </div>
    <div>
      <h1 class="text-center color-1 mb-4">Formulario de Grupo</h1>
    </div>
      <form [formGroup]="groupForm">
        <div class="d-flex justify-content-center">
          <div class="form-group container">
            <div class="row justify-content-md-center">
              <label for="emailUsername" class="col-form-label col-md-6 color-1 text-center">Seleccionar una imagen:</label>
            </div>
            <div class="row justify-content-md-center">
                <div class="d-flex justify-content-center">
                  <button class="img" [style.backgroundImage]="imagenSeleccionada ? 'url(' + imagenSeleccionada + ')' : ''" (click)="seeImg()"></button>
                </div>
                <div class="d-flex justify-content-center mt-2">
                  <div *ngFor="let imag of image">
                    <button class="img" [style.backgroundImage]="'url(' + imag + ')'" (click)="seleccionarImagen(imag)"></button>
                  </div>
                </div>
                <div class="d-flex justify-content-center">
                  <button *ngIf="image && image.length > 0" class="btn btn-secondary mt-2" (click)="cancelarSeleccion()">Cerrar</button>
                </div>
            </div>
          </div>
          <div class="form-group container">
            <div class="row justify-content-md-center">
              <label for="groupName" class="col-form-label color-1 text-center">Nombre del grupo:</label>
            </div>
            <div class="row justify-content-md-center">
              <input type="text" class="form-control custom-input bg-color-1 b-color-9 w-50" id="groupName" formControlName="groupName">
            </div>
          </div>
        </div>
        <div class="form-group container">
          <div class="row justify-content-md-center">
            <label for="game" class="col-form-label color-1 text-center">Juego:</label>
          </div>
          <div class="row justify-content-md-center">
            <div [ngStyle]="{ 'display': isSelected ? '' : 'none' }">
              <div class="d-flex justify-content-center">
                <img [src]="selected.img" alt="{{ selected.img }}" class="imgSelected rounded">
              </div>
              <div class="d-flex justify-content-center mt-2">
                <button class="btn b-color-9 bg-color-6 color-1" (click)="resetSelected()">Seleccionar juego</button>
              </div>
            </div>
              <div *ngIf="!isSelected" class="d-flex justify-content-center">
                <input type="text" class="form-control custom-input bg-color-1 b-color-9 w-25" [value]="searchText" (input)="onSearchTextChange($event)" placeholder="Buscar juegos...">
              </div>
              <br>
              <div class="w-50">
                <div class="d-flex flex-wrap justify-content-center">
                  <div *ngFor="let game of games" class="p-2 text-center galeria">
                    <div class="game-item" (mouseenter)="showGameName(game.nombre)" (mouseleave)="hideGameName()">
                      <button class="btn imgGame" [style.backgroundImage]="'url(' + game.img + ')'" (click)="selectGame(game)"></button>
                      <div class="game-name" *ngIf="isGameNameVisible && currentGameName === game.nombre">{{ game.nombre }}</div>
                    </div>
                  </div>
                </div>
                <div *ngIf="!isSelected" class=" mt-3">
                  <div class="d-flex justify-content-center">
                    <button *ngIf="botonP" class="btn b-color-9 bg-color-6 color-1 mx-2" (click)="previousPage()"><i class="fas fa-arrow-left"></i></button>
                    <button *ngIf="botonN" class="btn b-color-9 bg-color-6 color-1 mx-2" (click)="nextPage()"><i class="fas fa-arrow-right"></i></button>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="form-group container">
          <div class="row justify-content-md-center">
            <label for="description" class="col-form-label col-md-2 color-1 text-center">Descripción:</label>
          </div>
          <div class="row justify-content-md-center">
            <textarea class="form-control custom-input bg-color-1 b-color-9 w-50" id="description" formControlName="description" rows="5"></textarea>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="form-group container">
            <div class="row justify-content-md-center">
              <label for="participants" class="col-form-label color-1 text-center">Número de Participantes:</label>
            </div>
            <div class="row justify-content-md-center">
              <input type="number" class="form-control custom-input bg-color-1 b-color-9 participants" id="participants" formControlName="participants">
            </div>
          </div>
          <div class="form-group container">
            <div class="row justify-content-md-center">
              <label class="col-form-label color-1 text-center">Privacidad:</label>
            </div>
            <div class="row justify-content-md-center">
              <select formControlName="privacy" class="form-control custom-input bg-color-1 b-color-9 w-25">
                <option value="public">Público</option>
                <option value="private">Privado</option>
              </select>
            </div>
          </div>
        </div>
          <div class="form-group container">
            <div class="row justify-content-md-center">
              <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-lg bg-color-7 color-1 b-color-9" (click)="onSave()">
                  <span class="material-symbols-outlined">save_as</span>
                </button>
                <button type="button" class="btn btn-lg cancel color-1 b-color-9" (click)="onCancel()">
                  <span class="material-symbols-outlined">cancel</span>
                </button>
              </div>
            </div>
          </div>
      </form>
  </div>
</div>
