<div class="container text-center">
    <!-- Volver -->
    <div class="row m-2">
        <div class="col-md-1">
            <a routerLink="/chat" class="btn bg-color-1 color-7 m-2"><b><span class="material-symbols-outlined key">
                keyboard_return
                </span></b></a>
        </div>
    </div>
    <div class="color-1 row d-flex justify-content-center align-items-center"> 
        <span class="material-symbols-outlined sw col d-flex justify-content-end">swords</span>
        <h1 class="text-center b-color-9 mb-4 col">Retar a grupo</h1>
        <span class="material-symbols-outlined sw col d-flex justify-content-start">swords</span>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-4">
            <img src="https://media2.giphy.com/media/X80tdC03ylYZ0ulGYL/giphy.gif?cid=ecf05e471766p89y6svmna1lpga3ktlyhtkwysf0ltyhivc8&ep=v1_stickers_search&rid=giphy.gif&ct=s" class="img" alt="">
        </div>
        <div class="col-6  mb-5 mt-5 w-25">
            <label for="nombre" class="form-label color-1">Código de grupo:</label>
            <input type="text" class="form-control bg-color-1 color-9 mb-3" id="groupCode" value="">
            <label for="nombre" class="form-label color-1">Mensaje:</label>
            <input type="textbox" class="form-control bg-color-1 color-9 mb-3" id="message" value="">
        </div>
        <div class="col-4 jinx" >
            <img class="" src="https://media3.giphy.com/media/8THUQONA5q6PWlhXek/giphy.gif?cid=ecf05e47hnnla4pfgwezlqu4m96zad7jjvjm1d6hdmfjcqpc&ep=v1_stickers_search&rid=giphy.gif&ct=s" class="img" alt="">
        </div>
    </div>
    <!-- Boton para enviar el reto a un grupo -->
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-4 col-sm-12">
            <a type="button" class="btn btn-danger px-4 mr-1 sword"><b>
                <span class="material-symbols-outlined sw btn-warning">swords</span></b>
            </a>
        </div>
    </div>
</div>
