<div class="container-fluid">
    <div class="position-sticky row">
        <nav class="navbar navbar-expand-lg bg-color-9">
            <div class="container-fluid">
                <img class="navbar-brand color-1" routerLink="#" src="./assets/img/logo2.png" class="logo">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button> 
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a routerLink="/crear"  class="color-4 text-decoration-none mx-3"><i class="fas fa-plus i"></i></a> &nbsp;
                    </li>
                    <li class="nav-item">
                        <a routerLink="/unirse" class="color-4 text-decoration-none mx-3"><i class="fas fa-arrow-right-to-bracket i"></i></a> &nbsp;
                    </li>
                    <li class="nav-item">
                        <a routerLink="/perfil" class="color-4 text-decoration-none mx-3"><i class="fas i fa-user"></i></a> &nbsp;
                    </li>
                </ul>
                <form class="d-flex mx-auto" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit"><i class="fas fa-magnifying-glass"></i></button>
                </form>
                <li class="nav-item" type="none">
                    <a routerLink="" class="color-4 text-decoration-none">Cerrar sesión</a> &nbsp;
                </li>
                </div>
            </div>
        </nav>
    </div>
    <div class="card-container">
        <div *ngFor="let group of cardData.slice((currentPage-1)*cardsPerPage, currentPage * cardsPerPage); let i = index" class="card bg-color-1 m-2" [class.fade-out]="firstLinkActivated && selectedCardIndex !== i" [ngClass]="{'enlarged': selectedCardIndex === i}">
            <img src="{{ group.imageUrl }}" class="card-img-top" alt="...">
            <div class="card-body small-card-body">
                <h5 class="card-title">{{ group.title }}</h5>
                <p class="card-text">{{ group.description }}</p>
                <a (click)="enlargeAndNavigate(i)" class="btn bg-color-6 color-1 mx-1 enlarged"><i class="fas fa-eye"></i></a>
                <a routerLink="#" class="btn bg-color-6 color-1 leave"><i class="fas fa-trash-can"></i></a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12 d-flex justify-content-center enlarged" [class.fade-out]="firstLinkActivated"> 
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a href="#" class="btn bg-color-6 color-1 mx-3 btnPag arrow left" (click)="changePage('prev', $event)"><i class="fas fa-angle-left"></i></a></li>
                    <li class="page-item"><a href="#" class="btn bg-color-6 color-1 btnPag arrow right" (click)="changePage('next', $event)"><i class="fas fa-angle-right"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
    
</div>
