.logo{
    width: 100px;
}

body{
    margin: 0;
}

nav a:hover{
    color: white;
}

/* Estilos del div que contiene las cartas con cada grupo */

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 10px;
    max-height: 80vh;
    overflow: auto;
}

/* Estilos de las cartas que contienen los grupos */

.card {
    flex: 0 0 18rem;
    transition: transform 0.3s ease-in-out, opacity 1s ease-in-out;
}

.card:hover{
    transform: scale(1.05);
}

.card-container::-webkit-scrollbar {
    width: 8px;
}

.card-container::-webkit-scrollbar-thumb {
    background-color: #D8F3DC; /* Cambia el color de la barra de desplazamiento */
    border-radius: 5px;
}

.card-container::-webkit-scrollbar-thumb:hover {
    background-color: #D8F3DC; /* Cambia el color al pasar el cursor por encima */
}

/* En caso de que la pantalla se haga mas pequeña, se adapta los limites del div para que aparezca un sroll, evitando perder de vista otros elementos de la web */
@media (max-width: 1200px) {
    .scroll{
        max-height: 
        60vh;
    }
}

/* Estilos para los iconos */
.btnPag{
    background-color: rgb(62, 139, 198);
}

.leave{
    background-color: red!important;
}
.i{
    font-size: 20px;
    margin-left: 20px;
}
.bi-x-octagon-fill{
    color: red!important;
    font-size: 100px!important;
}

.enlarged-card {
    transform: scale(2);
    transition: transform 1s ease-in-out;
  }
  .fade-out {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
