.logo{
    width: 100px;
}

.custom-toggler .material-symbols-outlined{
    color: white;
}

body{
    margin: 0;
}

nav a:hover{
    color: white;
}

input:focus{
    width: 400px;
}

/* Pequeña animacion para las flechas */

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}

.arrow:focus {
    animation: horizontal-shaking 1s;
}

/* Estilos del div que contiene las cartas con cada grupo */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-height: 90vh;
    overflow: auto;
}

.small-card-body {
    padding: 0.5rem; 
}

.card{
    max-width: 300px;
}

/* Estilos de las cartas que contienen los grupos */

.text-adjust{
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.card {
    flex: 0 0 calc(18rem - 20px);
    transition: transform 0.3s ease-in-out, opacity 1s ease-in-out;
    margin-left: 30px !important;
    margin-right: 30px !important;

}

.card:hover{
    will-change: transform !important;
    transform: scale(1.04);
}

.card-container::-webkit-scrollbar {
    width: 8px;
}

.card-container::-webkit-scrollbar-thumb {
    background-color: transparent; /* Cambia el color de la barra de desplazamiento */
    border-radius: 5px;
}

.card-container::-webkit-scrollbar-thumb:hover {
    background-color: transparent; /* Cambia el color al pasar el cursor por encima */
}

/* En caso de que la pantalla se haga mas pequeña, se adapta los limites del div para que aparezca un sroll, evitando perder de vista otros elementos de la web */
@media (max-width: 1200px) {
    .scroll{
        max-height: 
        60vh;
    }

   
}

@media (max-width: 800px) {
    .card{
        max-width: 150px!important;
        margin: 0px!important;
    }

    .small-card-body {
        padding: 0.25rem; 
    }

    .btn {
        padding: 0.2rem 0.5rem!important;
        font-size: 12px;
    }
    
    .pagination{
        margin-bottom: 4px!important;
    }

    h5{
        font-size: 15px;
    }

    p{
        font-size: 9px;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
    
      .navbar-nav .nav-item {
        margin-right: 10px;
      }

      input:focus{
        width: 360px;
    }

    .st-pc{
        display: none!important;
    }

    .st-movile{
        display: flex!important;
        justify-content: center;
    }
    
    .logout{
        display: flex;
        justify-content: center!important;
    }

    .container-fluid, .navbar-collapse{
        margin-left: 0px!important;
    }
}

@media (min-width: 3000px) {
    .card{
        min-width: 500px!important;
        
    }

    h5{
        font-size: 60px;
    }

    p{
        font-size: 40px;
    }

    a{
        width: 100px;
        height: 60px;
        font-size: 30px;
    }
}
/* Estilos para los iconos */

.logout{
    background-color: transparent;
    border-style: none;
}

.btnPag{
    background-color: rgb(62, 139, 198);
}

.leave{
    background-color: red!important;
}
.i{
    font-size: 20px;
    margin-left: 20px;
}

.i:hover{
    transform: scale(1.2);
}
.bi-x-octagon-fill{
    color: red!important;
    font-size: 100px!important;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-in-out transformZ();
}

.st-movile{
    display: none;
  }