
.list-group-container::-webkit-scrollbar {
    width: 8px;
}

.list-group-container::-webkit-scrollbar-thumb {
    background-color: #D8F3DC;
    border-radius: 5px;
}

.list-group-container::-webkit-scrollbar-thumb:hover {
    background-color: #D8F3DC;
}

.list-group-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
    margin: 0;
    align-items: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

@media (max-width: 768px) {
    .list-group-item {
        grid-template-columns: 1fr;
        text-align: center;
    }
    input{
        width: 200px;
    }
}

.hover-image {
    position: absolute;
    top: -80px;
    left: 100px;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out;
}

.list-group-item:hover .hover-image {
    opacity: 1;
}