<div class="container-fluid menu">
    <!-- Volver -->
    <div class="row m-3 pt-3">
        <div class="col-md-1 mx-4">
            <a (click)="volver()" class="align-right btn bg-color-1 color-7 m-2"><b><span class="material-symbols-outlined key">
                keyboard_return
                </span></b></a>
        </div>
    </div>
    <!-- Seccion de eventos, cada div representa un evento con sus propiedades -->
    <div class="row px-5 mt-3">
        <ul class="list-group-container">
            <!-- [ngClass]="{'bg-success': isAccepted(evento.codEvento),'bg-danger': isRejected(evento.codEvento),'fade-out': firstLinkActivated && selectedEventIndex !== i,'enlarged': selectedEventIndex === i}" -->
            <div *ngFor="let evento of eventos.slice((currentPage-1)*cardsPerPage, currentPage * cardsPerPage); let i = index" class="card bg-color-1 m-2" [class.fade-out]="firstLinkActivated && selectedEventIndex !== i" [ngClass]="{'enlarged': selectedEventIndex === i}">
                <li [ngClass]="{'bg-primary': isAccepted(evento.codEvento),'bg-danger': isRejected(evento.codEvento)}" class="list-group-item bg-color-1" aria-current="true">
                    <span class="align-left">{{evento.titulo}}</span>
                    <span class="mx-auto">{{evento.fechaEvento}}</span>
                    <span class="align-right"><button *ngIf="!isRejected(evento.codEvento)" (click)="elegir(evento.codEvento, true)" class="btn btn-primary"><i class="fas fa-check"></i></button>
                    <button *ngIf="!isAccepted(evento.codEvento)" (click)="elegir(evento.codEvento, false)" class="mx-1 btn btn-danger cancel"><i class="fas fa-x"></i></button></span>
                </li>
            </div>
        </ul>
    </div>
    <!-- Botones para navegar entre eventos -->
    <div class="row px-5">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a href="#" class="btn btn-success mx-3 btnPag arrow"  (click)="changePage('prev', $event)"><i class="fas fa-angle-left"></i></a></li>
                <li class="page-item"><a href="#" class="btn btn-success btnPag arrow"  (click)="changePage('next', $event)"><i class="fas fa-angle-right"></i></a></li>
            </ul>
        </nav>
    </div>
    <!-- Seccion para crear un evento -->
    <div class="row justify-content-center px-1">
        <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" class="align-items-start p-5 row">
            <div class="form-group align-items-center py-2 col-md-6 col-sm-12">
                <input [(ngModel)]="form.nombre" name="nombre" required type="text" placeholder="Nombre" class="form-control custom-input bg-color-1 b-color-9 col-sm-8" id="eventName">
            </div>
            <div class="form-group align-items-center py-2 col-md-6 col-sm-12">
                <input [(ngModel)]="form.fecha" name="fecha" required type="date" placeholder="" class="form-control custom-input bg-color-1 b-color-9 col-sm-8" id="eventDate">
            </div>
            <div class="justify-content-between py-2">
                <button type="submit" class="btn btn-lg btn-success px-4 mr-3">Crear evento</button>
            </div>
        </form>
    </div>
</div>
