<div class="row mx-3 mt-2">
    <div class="col-md-10">
        <a href="/eventos" class="btn bg-color-1 color-7 m-2"><b>Eventos</b></a>
        <a href="/logros" class="btn bg-color-1 color-7 m-2"><b>Logros</b></a>
        <a href="/ajustes" class="btn bg-color-1 color-7 m-2"><b>Ajustes</b></a>
        <a href="/miembros" class="btn bg-color-1 color-7 m-2"><b>Miembros</b></a>
    </div>
    <div class="col-md-1 d-flex justify-content-end">
        <a href="/main" class="align-right btn bg-color-1 color-7 m-2"><b>Volver</b></a>
    </div>
</div>
<div class="row m-3 chat">
    <div class="row my-5">
        <div class="col-12 d-flex">
            <span class="mx-3 color-1">Mensajes de otras personas</span>
            <img src="https://miro.medium.com/v2/resize:fit:804/1*ixB4YI9uQXBMymH2aUvZ4Q.jpeg" width="100px">
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12 d-flex">
            <span class="mx-3 color-1">Mensajes de otras personas</span>
            <img src="https://miro.medium.com/v2/resize:fit:804/1*ixB4YI9uQXBMymH2aUvZ4Q.jpeg" width="100px">
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12 d-flex">
            <span class="mx-3 color-1">Mensajes de otras personas</span>
            <img src="https://miro.medium.com/v2/resize:fit:804/1*ixB4YI9uQXBMymH2aUvZ4Q.jpeg" width="100px">
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12 d-flex">
            <span class="mx-3 color-1">Mensajes de otras personas</span>
            <img src="https://miro.medium.com/v2/resize:fit:804/1*ixB4YI9uQXBMymH2aUvZ4Q.jpeg" width="100px">
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12 d-flex">
            <span class="mx-3 color-1">Mensajes de otras personas</span>
            <img src="https://miro.medium.com/v2/resize:fit:804/1*ixB4YI9uQXBMymH2aUvZ4Q.jpeg" width="100px">
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12 d-flex justify-content-end">
            <span class="align-right mx-3 color-1">Mensajes que envio</span>
            <img src="https://miro.medium.com/v2/resize:fit:804/1*ixB4YI9uQXBMymH2aUvZ4Q.jpeg" width="100px">
        </div>
    </div>
</div>
<div class="row m-3 footer">
    <div class="col-12">
        <input class="form-control text-right custom-bg" type="textbox">
    </div>
</div>