/* You can add global styles to this file, and also import other style files */

/* general */

html{
    background-color: #1B4332;
}

body{
    background-color: transparent !important;
}


/*Background-color*/


.bg-color-1{
    background-color: #D8F3DC;
}
.bg-color-2{
    background-color: #B7E4C7;
}
.bg-color-3{
    background-color: #95D5B2;
}
.bg-color-4{
    background-color: #74C69D;

}
.bg-color-5{
    background-color: #52B788;

}
.bg-color-6{
    background-color: #40916C;

}
.bg-color-7{
    background-color: #2D6A4F;

}
.bg-color-8{
    background-color: #1B4332;

}
.bg-color-9{
    background-color: #081C15;

}
.menu{
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2vw;
}

/*Text-color*/
.color-1{
    color: #D8F3DC;
}
.color-2{
    color: #B7E4C7;
}
.color-3{
    color: #95D5B2;
}
.color-4{
    color: #74C69D;
}
.color-5{
    color: #52B788;
}
.color-6{
    color: #40916C;
}
.color-7{
    color: #2D6A4F;
}
.color-8{
    color: #1B4332;
}
.color-9{
    color: #081C15;
}
/*Border-color*/
.b-color-1{
    border-color: #D8F3DC;
}
.b-color-2{
    border-color: #B7E4C7;
}
.b-color-3{
    border-color: #95D5B2;
}
.b-color-4{
    border-color: #74C69D;
}
.b-color-5{
    border-color: #52B788;
}
.b-color-6{
    border-color: #40916C;
}
.b-color-7{
    border-color: #2D6A4F;
}
.b-color-8{
    border-color: #1B4332;
}
.b-color-9{
    border-color: #081C15;
}

/*Estilos para input*/

.custom-input:focus {
    background-color: #1B4332!important; /* Color de fondo al hacer hover */
    color: #D8F3DC!important; /* Color del texto al hacer hover */
    box-shadow: 0 0 0 3px #40916C!important; /* Sombra con color #40916C */
    border-color: #1B4332;
}

.custom-input:focus::placeholder { 
    color: #D8F3DC!important; /* Color del texto al hacer hover */
}

.form-check-input:checked {
    background-color: #1B4332;
    border-color: #D8F3DC;
}

/*Estilos para botones*/

.btn:hover{
    background-color: #2D6A4F;
    color: #D8F3DC;
    transform: scale(1.1);
}

.btn-warning:hover{
  transform: scale(1.1);
  background-color: rgb(177, 195, 73) !important;
}

.btn-success:hover{
  transform: scale(1.1);
  background-color: rgb(71, 227, 89) !important;
}

.btn-info:hover{
  transform: scale(1.1);
  background-color: rgb(64, 195, 215) !important;
}

.cancel:hover, .btn-danger:hover{
    transform: scale(1.1);
    background-color: rgb(193, 0, 0)!important;
}

.btn-primary:hover {
  transform: scale(1.1);
    background-color: rgb(34, 34, 236)!important;
}

@keyframes left {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-5px);
    }
  }

  @keyframes right {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
  }

.align-right:hover .key, .left:hover .fa-angle-left{
    cursor: pointer;
    animation: left 1s infinite;
}


.right:hover .fa-angle-right{
  cursor: pointer;
  animation: right 1s infinite;
}

a.setting:hover span.set {
    cursor: pointer;
    transition: 0.4s;
    transform: rotate(720deg);
  }
  

  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }
  
  a.members:hover span.mem {
    cursor: pointer;
    animation: bounce 1s infinite;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(5deg);
    }
  }
  
  a.logros:hover span.trp {
    cursor: pointer;
    animation: rotate 0.5s infinite;
  }
  
  a.events:hover span.ev{
    cursor: pointer;
    animation: bounce 1s infinite;
  }

  @keyframes crazyAnimation {
    0% {
      transform: rotate(0deg) scale(1);
    }
    25% {
      transform: rotate(45deg) scale(1.2);
    }
    50% {
      transform: rotate(-45deg) scale(0.8);
    }
    75% {
      transform: rotate(30deg) scale(1.1);
    }
    100% {
      transform: rotate(0deg) scale(1);
    }
  }
  
  a.sword:hover span.sw {
    display: inline-block;
    transition: transform 0.4s ease-in-out;
    animation: crazyAnimation 3s infinite;
  }

  
  @keyframes iconEnlarge {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.2);
    }
  }

  .enlarged:hover .fa-eye {
    animation: iconEnlarge 0.4s alternate infinite;
  }
  

  @keyframes trash {
    0% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(15deg);
    }
    40% {
      transform: rotate(-15deg);
    }
    50% {
      transform: rotate(15deg);
    }
    60% {
      transform: rotate(-15deg);
    }
    70% {
        transform: rotate(0deg);
      }
    100% {
      transform: rotate(0deg);
    }
  }

  .leave:hover .fa-trash-can{
    animation: trash 1s infinite;

  }